@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

html, body{
  height: 100%;
}
body{
  width: 100%;
  /*font-family: 'Roboto Slab';*/
  font-family: 'Helvetica Neue'
  font-weight: 300;
  /*padding: 0px 30px;*/
}
.btn-block{
  width: 100%;
  background: #fff;
  border: none;
  font-weight: 700;
  font-size: 2em;
}
.btn.stick-bottom{
  position: absolute;
  bottom: 15px;
  background: rgba(255,255,255,0.5);
  width: auto;
  padding: 10px 20px;
}
.btn-block:hover, .btn-block:active{
  background: #fff;
}
.scrollr{
  height: 100%;
  /*overflow: auto;*/
  overflow: hidden;
  }
  .container#welcome{
    background: #F8CA00;
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    }
    #welcome h1 img{
      width: 100%;
      max-width: 500px;
    }
    #welcome .btn{
      color: #F8CA00 !important;
    }
    .well{
      background: none;
      border: none;
      box-shadow: none;
    }
    h1 em{
      font-style: normal;
      font-weight: 100;
    }
  .container#you{
    background: #E97F02;
    color: #fff;
    }
    #you .btn{
      color: #E97F02 !important;
    }
  .container#partner{
    color: #fff;
    background: #BD1550;
    }
    #partner .btn{
      color: #BD1550 !important;
    }
  .container#tokens{
    color: #333;
    }
    #tokens .btn{
      background: #333;
    }
  .container#results{
    color: #fff;
    background: #490A3D;
    }
    .container#results h1{
      text-align: center;
    }
    .container#results .btn{
      color: #490A3D;
      opacity: 0;
      margin-top: 50px;
      -webkit-transition: all .25s ease;
         -moz-transition: all .25s ease;
          -ms-transition: all .25s ease;
           -o-transition: all .25s ease;
              transition: all .25s ease;
    }
.navbar-brand{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-weight: 300;
  font-size: 1.2em;
}
h2{
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}
.scrollr .container{
  position: relative;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
}
.input-group{
  margin-bottom: 30px;
}
span.input-group-addon{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
span.input-group-addon{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h5
{
  display: inline;
  background: none!important;
}
.source
{
  font-size: 10px;
  float: right;
}
.blockGrid
{
  background: #eee;
  height: 34px;
  border: 1px solid #ccc;

}
.block
{
  width: 10%;
  height: 32px;
  margin: 0px;
  background: rgb(132,195,190);
  display: block;
  float: left;
  line-height: 1.42857143;
  border-right: 1px solid white;
}
.clear
{
  clear: both;
}
.a
{
  background: #9E3F00;
  color: #9E3F00;
}
.b
{
  background: #0CCABA;
  color: #0CCABA;
}
.c
{
  background: #e3f5b7;
  color: #e3f5b7;
}
.d
{
  background: #e6ae00;
  color: #e6ae00;
}
.e
{
  background: #d46700;
  color: #d46700;
}
.f
{
  background: #bfbab7;
  color: #bfbab7;
}
.tokenHolder
{
  clear: both;
}
#resultTable tr
{
  border-bottom: 1px dotted #ccc;
}
#resultTable td
{
  padding: 5px 0px 15px 0px;
}

@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }

  100% {
    z-index: 1;
  }
}
@-moz-keyframes expand {
  0% {
    -moz-transform: scale(0);
  }

  50% {
    -moz-transform: scale(1);
  }

  100% {
    z-index: 1;
  }
}
@-o-keyframes expand {
  0% {
    -o-transform: scale(0);
  }

  50% {
    -o-transform: scale(1);
  }

  100% {
    z-index: 1;
  }
}
@keyframes expand {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    z-index: 1;
  }
}
.loader {
  position: relative;
  left: 50%;
  top: 50%;
  margin: 40px 40px 40px -40px;

  background-color: #490A3D;
  border-radius: 50%;
  box-shadow: 0 0 0 13.33333px #fff;
  width: 80px;
  height: 80px;

}
.loader:before, .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  margin: -41px 0 0 -41px;
  border-radius: 50%;
  z-index: 2;
  width: 82px;
  height: 82px;
}
.loader:before {
  background-color: #fff;
  -webkit-animation: expand 1.6s linear infinite both;
  -moz-animation: expand 1.6s linear infinite both;
  animation: expand 1.6s linear infinite both;
}
.loader:after {
  background-color: #490A3D;
  -webkit-animation: expand 1.6s linear 0.8s infinite both;
  -moz-animation: expand 1.6s linear 0.8s infinite both;
  animation: expand 1.6s linear 0.8s infinite both;
}

.header
{
  width: 100%;
  height: 120px;
}
#header0
{
  background-image: url('london.jpg');
  background-color: white;
}
