<!doctype html>
<html lang="en" ng-app="projectTurkey">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Project Turkey</title>
  
  <link href="css/bootstrap.min.css" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/ng-google-chart.js"></script>
</head>
<body>
  <div class="container">
      <h2>App of Life</h2>
  </div>
  <div ng-controller="dataInput">

    <ul ng-repeat="user in users">
      <input type="text" ng-model="users[$index].age" class="form-control"> <br> Age: {{ user.age }}<br/>
      

        <input type="text" ng-model="users[$index].jobTitle" ng-change="getSoc{{$index}}()" class="form-control"><br/>

        <select ng-model="users[$index].jobCode"  class="form-control">
          <option value="0" selected="selected">Select a job...</option>
          <option ng-repeat="soc in jobCodesTemp[$index]" value="{{soc.soc}}">{{soc.title}}</option>
        </select>
        Occupation: {{ user.jobTitle }}
      </li>
      <li>
        Soc: {{ user.jobCode }}
      </li>
      <li>
        <select ng-model="users[$index].gender" class="form-control">
          <option value="1">Male</option>
          <option value="2">Female</option>
        </select>
        Gender: {{ user.gender }}
      </li>
    </ul>

    <pre>
      User 1: {{
        users[0]
      }}
      --
      User 2: {{
        users[1]
      }}
    </pre>

  </div>

  <div ng-controller="usa">
    Tokens Left: {{ maxTokens - tokensUsed }} || Tokens Used: {{ tokensUsed }}

    max: {{ maxWages }}
    <ul>
      <li>
        Wages: <input type="number" min="0" max="{{ maxWages }}" ng-model="metrics.wages" ng-change="limitTokens()"> {{ metrics['wages'] }}
      </li>
      <li>
        Prospects: <input type="number" min="0" max="{{ maxProspects }}" ng-model="metrics['prospects']" ng-change="limitTokens()"> {{ metrics['prospects'] }}
      </li>
      <li>
        Education: <input type="number" min="0" max="{{ maxEducation }}" ng-model="metrics['education']" ng-change="limitTokens()"> {{ metrics['education'] }}
      </li>
    </ul>

    <pre>
      {{metrics}}
    </pre>
  </div>

  <div ng-controller="calculateDeets">
    <pre>
      {{ wages }}
    </pre>
    <pre>
      {{ prospects }}
    </pre>
    <pre>
      {{education}}
    </pre>
    <b utton ng-click="getWages()">Get Wages</button>
  <hr/>
  <button ng-click="getLifePlan()">Calculate LIFE PLAN</button>
  <pre>{{resultMatrix}}</pre>
  <h1>{{message}}</h1>
  <BR/>
  <div>
    <div google-chart chart="chart" style="{{chart.cssStyle}}"/>
  </div>
  </div>
  <br/>
  </body>
</html>
